@import 'styles/normalize.css';

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.sequence-request-input {
  width: 25px;
}

.out-of-range {
  border-color: red;
}

.carousel-solutions-container {
  display: flex;
  gap: 30px;
}

/*
.solution-container {
  position: relative;
}
*/

.mem-sol-row:nth-child(odd) > td {
  background-color: rgba(210, 210, 240, 0.4);
}

.mem-sol-slot {
  width: 25px;
  height: 25px;
  position: relative;

  text-align: center;
  vertical-align: middle;

  border: 1px solid black;
  background-clip: content-box;

  user-select: none;
}
.sched-sol-slot {
  width: 25px;
  height: 25px;
  position: relative;

  text-align: center;
  vertical-align: middle;

  /*border: 1px solid black;*/
  background-clip: content-box;

  user-select: none;
}
.sched-sol-after-exec {
  background-color: #EEE;
}
.sched-sol-before-exec {
  background-color: #BBB;
}
.sched-sol-waiting {
  background-color: rgb(200, 200, 100);
}
.sched-sol-running {
  background-color: rgb(97, 190, 97);
}

.mem-sol-slot:first-child {
  border: none;
  border-radius: 10px;
}

.mem-sol-slot:hover .hidden-msg {
  display: inline-block;
}

.order-slot {
  border-radius: 50%;
  background-clip: padding-box;
}

.hidden-msg {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2.5rem;

  padding: 10px;
  border-radius: 15px;
  border: 2px solid #333;

  color: #333;
  background-color: #DDD;

  white-space: nowrap;
  z-index: 10;
}