@import 'styles/normalize.css';

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.sequence-request-input {
  width: 35px;
}

.out-of-range {
  border-color: red;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

tr:nth-child(odd) > td {
  background-color: rgba(210, 210, 240, 0.5);
}

td:first-child {
  border: none;
  border-radius: 10px;
}

td {
  position: relative;
  width: 25px;
  height: 25px;

  text-align: center;
  vertical-align: middle;
  
  border: 1px solid black;
  background-clip: content-box;
  
  user-select: none;
}

td span {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2.5rem;

  padding: 10px;
  border-radius: 15px;
  border: 2px solid #333;

  color: #333;
  background-color: #DDD;
  
  white-space: nowrap;
  z-index: 9999;
}

td:hover span {
  display: inline-block;
}

.carousel-solutions-container {
  display: flex;
  gap: 30px;
}

.order-slot {
  border-radius: 50%;
  background-clip: padding-box;
}
