td {
  text-align: center;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  position: relative;
  border: 1px solid black;
  background-clip: content-box;
  user-select: none;
}

td span {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2.5rem;

  padding: 10px;
  border-radius: 15px;
  border: 2px solid #333;

  color: #333;
  background-color: #DDD;
  
  white-space: nowrap;
  z-index: 9999;
}

td:hover span {
  display: inline-block;
}

.carousel-solutions-container {
  display: flex;
  gap: 30px;
}

.order-slot {
  border-radius: 50%;
  background-clip: padding-box;
}
